[
   {
      "decoders" : [
               {
            "payload_name" : "H264",
            "payload_type" : 104,
            "codec_params" : [
               {
                  "level-asymmetry-allowed" : "1"
               },
               {
                  "packetization-mode" : "1"
               },
               {
                  "profile-level-id" : "4d001f"
               }
            ]
         }
      ],
      "render_delay_ms" : 10,
      "rtp" : {
         "extensions" : [
         ],
         "local_ssrc" : 1,
         "lntf" : {
            "enabled": false,
         },
         "nack" : {
            "rtp_history_ms" : 1000
         },
         "red_payload_type" : 117,
         "remb" : true,
         "remote_ssrc" : 2004318071,
         "rtcp_mode" : "RtcpMode::kReducedSize",
         "rtx_payload_types" : [
            {
               "104" : 105
            }
         ],
         "rtx_ssrc" : 3294771705,
         "transport_cc" : true,
         "ulpfec_payload_type" : 114
      },
      "target_delay_ms" : 0
   }
]
